streamlit
email-validator
Pillow
pytrends
nest-asyncio
scrapy
requests
urllib3
requests-html
stqdm
streamlit_custom_notification_box
firebase-admin
pandas
matplotlib
numpy
streamlit_option_menu
joblib
scikit-learn
altair
langchain_core
langchain_google_genai
ngrok
pyngrok
beautifulsoup4
